<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script>
        //Defining a few global variables

        displayMode = 0 // 0 = The default selectedindex
//    0 = all, 1 = Instruments, etc              

        network = []
        knownManufactures = ["Tektronix"]

        SHOWKEYS = ["ip", "hostname", "socket"]


        //Dont worry about this, it's just to purify the data the server recieves.
        function htmlDecode(input){
          var e = document.createElement('div');
          e.innerHTML = input;
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

    </script>
</head>
<body>
    <h1>Online Hosts.</h1>
    <label for="mode">Mode: </label>

    <select onchange="modeChanged(); createTable(network)" id="modeChanger">
        <option>All: Display all network information</option> <!-- selectedindex 0-->
        <option>Instruments: Only display the instruments on the network</option> <!-- selectedindex 1-->
    </select>

    <button onclick="detect()">Detect on network</button>
    <input type="checkbox" id="raspberries" name="raspberries">
    <label for="raspberries">Detect instruments connected to raspberries</label>
    <div id="networkInventoryDIV"></div>
    <script>

        //Get state of the select and create new table using this
        function modeChanged() {
          //console.log(document.getElementById('modeChanger'))
          displayMode = document.getElementById('modeChanger').selectedIndex;
          //console.log( displayMode)
        }

        //Networks is an array of the parsed result from nmap. Mode is how much of the data that gets displayed
        function createTable(network) {
            //Just to put the code into a few sections, I wrote "blocks" surroded by { and } or for loops / while loops
            //This basicly just creates the table
            modeChanged()
            if(document.getElementById("networkInventory")) document.getElementById("networkInventory").remove();
            var div = document.getElementById("networkInventoryDIV")
            var table = document.createElement('table');
            table.setAttribute("id", "networkInventory")
            table.setAttribute("style", "width:100%")
            div.appendChild(table)
            let thead = table.createTHead();
            let row = thead.insertRow();

            //THIS ADDS THE COULUMN NAMES
            KEYS = []
            for(k in network) {
                for(l of Object.keys(network[k])) {
                    if(KEYS.includes(l)) {

                    } else {
                        KEYS.push(l)
                    }
                }
            }
            if(network[0]) for (i of SHOWKEYS) {
                let th = document.createElement("th");
                rows = Object.keys(network[0])
                let text = document.createTextNode(i);
                th.appendChild(text);
                row.appendChild(th);
            }


            // This fils in data into the table
            if (displayMode == 0){  // IF MODE ALL
                for (let element of network) {
                    let row = table.insertRow();
                    for (key in SHOWKEYS) {
                        let cell = row.insertCell();

                        let text
                        if(Object.keys(element).includes(SHOWKEYS[key])) {
                            text = document.createTextNode(element[SHOWKEYS[key]]);
                        } else {
                            text = document.createTextNode("");
                        }
                        cell.appendChild(text);

                    }
/*                    for (key in ) {
                        console.log(key)
                        let cell = row.insertCell();
                        let text = document.createTextNode(element[key]);
                    }*/
                }
            } else if (displayMode == 1) {     // IF MODE Instruments
                for (let element of network) {
                    for(i of knownManufactures) {
                        if (element["host"]) if(element["host"].search(i) != -1) {
                            let row = table.insertRow();
                            for (key in element) {
                                let cell = row.insertCell();
                                let text = document.createTextNode(element[key]);
                                cell.appendChild(text);
                            }
                            break
                        }
                    }
                }
            }
           
            function relocate(manual) {
                window.location = manual;
            }

            //p.innerHTML
        }
    </script>
    <script>
        function detect( ) {
            value = document.getElementById('raspberries').checked;
            if(value){
                detectRaspberries()
            } else{
                detectNetworks()
            }
        }
        function detectNetworks() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(this.responseText));
                    network = JSON.parse(this.responseText)["inventory"]
                    createTable(network)
                }
            };
            xhttp.open("POST", "/", true);
            xhttp.setRequestHeader("DetectType", "network")
            xhttp.send("");
        }
        function detectRaspberries() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(this.responseText));
                    network = JSON.parse(this.responseText)["inventory"]
                    createTable(network)
                }
            };
            xhttp.open("POST", "/", true);
            xhttp.setRequestHeader("DetectType", "raspberries")
            xhttp.send("");
        }
    </script>
    <style>
        #networkInventory {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #networkInventory td, #networkInventory th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #networkInventory tr:nth-child(even){background-color: #f2f2f2;}

        #networkInventory tr:hover {background-color: #ddd;}

        #networkInventory th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #313131;
            color: white;
        }
    </style>

</body>
</html>
