<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/init.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <h1>Online Hosts.</h1>
    <label for="mode">Mode: </label>

    <select onchange="modeChanged(); createTable(network)" id="modeChanger">
        <option>All: Display all network information</option> <!-- selectedindex 0-->
        <option>Instruments: Only display the instruments on the network</option> <!-- selectedindex 1-->
    </select>
    <button onclick="detect()">Detect on network</button>
    <input type="checkbox" id="raspberries" name="raspberries">
    <label for="raspberries">Detect instruments connected to raspberries</label>
    <div class="tab" id="tabs">
        <button id="mainTab" class="tablinks" onclick="changeTab(event, 'networkInventoryDIV')">Main</button>
    </div>
    <nav id="switch">
        <div id="networkInventoryDIV" class="tabcontent"></div>
    </nav>
    <script src="/javascripts/UI_handler.js"> //Handling tab stuff (UI)
    </script>
    <script> //Handling and creating table stuff

        //Get state of the select and create new table using this
        function modeChanged() {
          displayMode = document.getElementById('modeChanger').selectedIndex;
        }
        //Networks is an array of the parsed result from nmap. Mode is how much of the data that gets displayed
        function createTable(network) {
            //Just to put the code into a few sections, I wrote "blocks" surroded by { and } or for loops / while loops
            //This basicly just creates the table
            modeChanged()
            
            //Set the default / main tab to active
            document.getElementById('networkInventoryDIV').style.display = "block";
            document.getElementById('mainTab').className += " active";

            if(document.getElementById("networkInventory")) document.getElementById("networkInventory").remove();
            var div = document.getElementById("networkInventoryDIV")
            var table = document.createElement('table');
            table.setAttribute("id", "networkInventory")
            table.setAttribute("style", "width:100%")
            div.appendChild(table)
            let thead = table.createTHead();
            let row = thead.insertRow();

            //Removes elements from the tab list
            const parent = document.getElementById('tabs');
            const keepElem = document.getElementById('mainTab');
                
            [...parent.children]
                .forEach(child => child !== keepElem ? parent.removeChild(child) : null);


            //THIS ADDS THE COULUMN NAMES
            KEYS = []
            for(k in network) {
                for(l of Object.keys(network[k])) {
                    if(KEYS.includes(l)) {

                    } else {
                        KEYS.push(l)
                    }
                }
            }
            if(network[0]) for (i of SHOWKEYS) {
                let th = document.createElement("th");
                rows = Object.keys(network[0])
                let text = document.createTextNode(i);
                th.appendChild(text);
                row.appendChild(th);
            }


            // This fils in data into the table
            if (displayMode == 0){  // IF MODE ALL
                console.log(network)
                for (let element of network) {
                    let row = table.insertRow();
                    row.onclick = function( ) {
                        if(element.hostname) { createTab(element.hostname) } else {createTab(element.ip)}
                    }
                    for (key in SHOWKEYS) {
                        let cell = row.insertCell();
                        let text
                        if(Object.keys(element).includes(SHOWKEYS[key])) {
                            text = document.createTextNode(element[SHOWKEYS[key]]);
                        } else {
                            text = document.createTextNode("");
                        }
                        cell.appendChild(text);

                    }

                }
            } else if (displayMode == 1) {     // IF MODE Instruments
                for (let element of network) {
                    for(i of knownManufactures) {
                        if (element["host"]) if(element["host"].search(i) != -1) {
                            let row = table.insertRow();
                
                            for (key in element) {
                                let cell = row.insertCell();
                                let text = document.createTextNode(element[key]);
                                cell.appendChild(text);
                            }
                            break
                        }
                    }
                }
            }
           
            function relocate(manual) {
                window.location = manual;
            }

            //p.innerHTML
        }
        function createSingleTable(parent, network, tabName, curElm) {
            var div = parent
            var table = document.createElement('table');
            table.setAttribute("id", tabName + "Table")
            table.setAttribute("style", "width:100%")
            div.appendChild(table)
            let thead = table.createTHead();
            let row = thead.insertRow();

            table.setAttribute("id", "singleTable")

            //THIS ADDS THE COULUMN NAMES
            KEYS = []
            for(k in network) {
                for(l of Object.keys(network[k])) {
                    if(KEYS.includes(l)) {

                    } else {
                        KEYS.push(l)
                    }
                }
            }
            if(network[0]) for (i of SHOWKEYS) {
                let th = document.createElement("th");
                rows = Object.keys(network[0])
                let text = document.createTextNode(i);
                th.appendChild(text);
                row.appendChild(th);
            }


            // This fils in data into the table

            row = table.insertRow();

            for (key in SHOWKEYS) {
                let cell = row.insertCell();
                let text
                if(Object.keys(curElm).includes(SHOWKEYS[key])) {
                    text = document.createTextNode(curElm[SHOWKEYS[key]]);
                    if(SHOWKEYS[key] == "ip") {
                        cell.setAttribute("class", "ip")
                    }
                } else {
                    text = document.createTextNode("");
                }
                cell.appendChild(text);

            }

        }
        function getSingleElement(network, tabName) {
            var curElm
            //Find specific element using the network and tabName
            console.log(tabName)
            for(let element of network) {
                if(element.hostname != undefined) {
                    if(element.hostname == tabName) {
                        curElm = element
                
                    }
                } else {
                    if(element.ip == tabName) {
                        curElm = element
                    }
                }
            }
            return curElm
        }
    </script>
    <script src="/javascripts/request.js"> //This is for creating the GET request that retrieves data from the server.

    </script>
    <script src="/javascripts/localStorage.js"> //Local storage retrieving
    </script> 
</body>
</html>
